.task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  margin-bottom: 10px;
}

.task-text {
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
}

.task-buttons {
  display: flex;
  align-items: center;
}

.task-close {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(248, 113, 113);
  margin-right: 5px;
  color: white;
  font-weight: 500px;
}

.task-close {
  height: 30px;
  width: 30px;
}
